* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ecebe2;
}
main {
  width: 80vw;
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}
h1 {
  color: #0c0440;
  font-size: 50px;
  font-family: sans-serif;
  text-align: center;
}
h2 {
  color: #952619;
  font-family: sans-serif;
  text-align: center;
  margin-left: 290px;
  font-size: 40px;
}

header {
  background-color: #0c0440;
  padding: 10px;
}
nav {
  align-items: center;
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-style: normal;
}

button {
  justify-content: center;
  margin: 3em 0 0 1.5em;
  padding: 1rem;
  text-transform: capitalize;
  background-color: #f7ca8f;
  font-family: sans-serif;
  border-radius: 20px;
  cursor: pointer;
}
